{
    "env": {
      "node": true
    },
    "parser": "babel-eslint",
    "extends": ["standard", "prettier", "prettier/standard"],
    "plugins": ["prettier"],
    "rules": {
      "promise/catch-or-return": "error",
      "prettier/prettier": [
        "error",
        {
          "semi": true,
          "printWidth": 120,
          "singleQuote": true,
          "bracketSpacing": true
        }
      ]
    }
  }